body {
}


.toolbar{
    background-color:ghostwhite;
    margin-bottom:16px;
    margin-top:-16px;
    margin-left:8px;
}



.title-category{
    margin-top:16px;
}

.list-category{
    
    max-height:60vh;
    overflow:auto

}

.main-height{
    max-height:100vh
}