@page "/chude-donvi"
@inject IRepositoryOntap repositoryOntap;
@inject AppState appState;


<div class="container main-height">
    <div class="row toolbar">

        <SfButton @onclick="onSaveClick" CssClass="e-info">Ghi Lại</SfButton>

    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <h4>Đơn vị</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">

            <SfComboBox DataSource="@Donvis" TValue="int" TItem="Donvi" Placeholder="Chọn đơn vị"
                        PopupHeight="300px" AllowCustom=false
                        @bind-Value="@CurrentDonViId">
                <ComboBoxEvents TItem="Donvi" TValue="int" ValueChange="ValueDonViIdChangedHandler"></ComboBoxEvents>
                <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>

            </SfComboBox>

        </div>


    </div>
    <div class="row title-category" >
        <div class="col-md-6">
            <h4>Chủ đề</h4>
        </div>
    </div>
    <div class="row list-category">
        <div class="col-6">
           
            <SfListView DataSource="@Categories" ShowCheckBox="true">
                <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected"></ListViewFieldSettings>

            </SfListView>
        </div>
        <div class="col-6">

        </div>


    </div>

</div>


    @code ***REMOVED***
        public int CurrentDonViId ***REMOVED*** get; set; ***REMOVED***
        List<Donvi> Donvis;

        List<Category> Categories;

        protected override async Task OnInitializedAsync()
        ***REMOVED***

            Donvis = await repositoryOntap.LayDanhSachDonVi(appState.CurrentIdentityUserId);

            if (Donvis != null && Donvis.Count > 0)
            ***REMOVED***
                CurrentDonViId = Donvis[0].Id;
                Categories = await repositoryOntap.LayDanhSachChuDeTheoDonVi(CurrentDonViId);
        ***REMOVED***

            await base.OnInitializedAsync();

    ***REMOVED***

        private async void ValueDonViIdChangedHandler(Syncfusion.Blazor.DropDowns.ChangeEventArgs<int, Donvi> args)
        ***REMOVED***
            Debug.WriteLine($"ValueDonViIdChangedHandler ***REMOVED***CurrentDonViId***REMOVED*** ");
            Categories = await repositoryOntap.LayDanhSachChuDeTheoDonVi(CurrentDonViId);
            StateHasChanged();
    ***REMOVED***

        private async void onSaveClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
        ***REMOVED***
            Debug.WriteLine($"onSaveClick CurrentDonVi = ***REMOVED***CurrentDonViId***REMOVED***");
            await repositoryOntap.GanChuDeChoDonVi(CurrentDonViId, Categories.Where(item => item.IsSelected).ToList());

    ***REMOVED***




***REMOVED***
