@page "/chude-donvi"



    <div class="container main-height">
        <div class="row toolbar">
           
            <SfButton @onclick="onSaveClick" CssClass="e-info">Ghi Lại</SfButton>

        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <h4>Đơn vị</h4>
                <SfComboBox DataSource="@Donvis" TValue="int" TItem="Donvi" Placeholder="Chọn đơn vị"
                            PopupHeight="400px"  AllowCustom=false >
                    <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
                    
                </SfComboBox>

            </div>
           

        </div>
        <div class="row list-height" >
            <div class="col-6">
                <h4>Chủ đề</h4>
                <SfListView DataSource="@Categories" ShowCheckBox="true" >
                    <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected"></ListViewFieldSettings>

                </SfListView>
            </div>
            <div class="col-6" >
                
            </div>
                 

        </div>

    </div>


    @code {
        List<Donvi> Donvis  = new List<Donvi>() {
         new Donvi(){Id=1, Name="TTCNTT"}, new Donvi(){Id=2, Name="TTDH"}

         };

        List<Category> Categories = new List<Category>()
        {
            new Category{Id=1, Name="CD1"}, new Category{Id=2, Name="CD2"}
            ,new Category{Id=3, Name="CD3"}, new Category{Id=4, Name="CD4"}
            ,new Category{Id=5, Name="CD1"}, new Category{Id=6, Name="CD2"}
            ,new Category{Id=7, Name="CD1"}, new Category{Id=8, Name="CD2"}
            ,new Category{Id=9, Name="CD1"}, new Category{Id=10, Name="CD2"}
            ,new Category{Id=11, Name="CD1"}, new Category{Id=12, Name="CD2"}
            ,new Category{Id=13, Name="CD1"}, new Category{Id=14, Name="CD2"}
            ,new Category{Id=15, Name="CD1"}, new Category{Id=16, Name="CD2"}
            ,new Category{Id=17, Name="CD1"}, new Category{Id=18, Name="CD2"}
            ,new Category{Id=19, Name="CD1"}, new Category{Id=20, Name="CD2"}
        };



        private void onSaveClick(Microsoft.AspNetCore.Components.Web.MouseEventArgs args)
        {
            Debug.WriteLine("onSaveClick");

        }




    }
