@page "/chude-donvi"



    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Đơn vị</h4>
                <SfComboBox DataSource="@Donvis" TValue="int" TItem="Donvi" Placeholder="Chọn đơn vị"
                            PopupHeight="400px" PopupWidth="300px">
                    <ComboBoxFieldSettings Value="Id" Text="Name"></ComboBoxFieldSettings>
                    
                </SfComboBox>

            </div>
           

        </div>
        <div class="row">
            <div class="col">
                <h4>Chủ đề</h4>
                <SfListView DataSource="@Categories" ShowCheckBox="true">
                    <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected"></ListViewFieldSettings>

                </SfListView>
            </div>

        </div>

    </div>


    @code ***REMOVED***
        List<Donvi> Donvis  = new List<Donvi>() ***REMOVED***
         new Donvi()***REMOVED***Id=1, Name="TTCNTT"***REMOVED***, new Donvi()***REMOVED***Id=2, Name="TTDH"***REMOVED***

     ***REMOVED***;

        List<Category> Categories = new List<Category>()
        ***REMOVED***
            new Category***REMOVED***Id=1, Name="CD1"***REMOVED***, new Category***REMOVED***Id=2, Name="CD2"***REMOVED***
    ***REMOVED***;



       

***REMOVED***
