@page "/ontap_prepare"
@inject IRepositoryOntap repository;
@inject AppState appState;
@inject NavigationManager navigation;


<div class="container">
    
    <div class="row">
        <div class="col-12 col-md-6">
            <h5>Mức độ</h5>
            <SfDropDownList TValue="int" TItem="QuestionLevel" DataSource="@levels" @bind-Value="@CurrentLevelId"
                            >
                <DropDownListFieldSettings Value="Id" Text="Level"></DropDownListFieldSettings>

            </SfDropDownList>
        </div>
        @*<div class="col6">
            <h5>Số câu</h5>
            <Syncfusion.Blazor.Inputs.SfNumericTextBox @bind-Value="@numOfQuestion">

            </Syncfusion.Blazor.Inputs.SfNumericTextBox>

        </div>*@
    </div>
    <div class="row list-category">
        <div class="col-12 col-md-6">

            <SfListView DataSource="@Categories" ShowCheckBox="true">
                <ListViewFieldSettings TValue="Category" Id="Id" Text="Name" IsChecked="IsSelected"></ListViewFieldSettings>

            </SfListView>
        </div>
        


    </div>
    <div class="row">
      <div class="col-12 col-md-6">
      <button class="btn btn-primary btn-block" @onclick="ontapClick">
                Bắt đầu ôn tập
     </button>
     </div>
    </div>
    
</div>

@code {
    public int CurrentLevelId {get;set;}
    public int numOfQuestion { get; set; } = 10000;

    List<QuestionLevel> levels = new List<QuestionLevel>()
    {
        new QuestionLevel(){ Id = 0, Level="Tất cả mức độ"},
        new QuestionLevel(){ Id = 4, Level="Mới (Chưa ôn lần nào)"},
        new QuestionLevel(){ Id = 3, Level="Khó"},
        new QuestionLevel(){ Id = 2, Level="Bình thường",},
        new QuestionLevel(){ Id = 1, Level="Dễ"}

    };
    List<Category> Categories;

    [CascadingParameter] public IModalService Modal { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Categories = await repository.LayDanhSachChuDeTheoNguoiDung(appState.CurrentIdentityUserId);
        await  base.OnInitializedAsync();
    }

    void ontapClick()
    {
        Debug.WriteLine($"level = {CurrentLevelId} numOfQuestion ={numOfQuestion}");
        string tags = String.Join(",",Categories.Where(item => item.IsSelected).Select(item => item.Id).ToArray());
        navigation.NavigateTo($"ontap/{CurrentLevelId}/{tags}/{numOfQuestion}");
    }

}
