@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body ***REMOVED***
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
***REMOVED***

a, .btn-link ***REMOVED***
    color: #0366d6;
***REMOVED***

.btn-primary ***REMOVED***
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
***REMOVED***

.content ***REMOVED***
    padding-top: 1.1rem;
***REMOVED***

.valid.modified:not([type=checkbox]) ***REMOVED***
    outline: 1px solid #26b050;
***REMOVED***

.invalid ***REMOVED***
    outline: 1px solid red;
***REMOVED***

.validation-message ***REMOVED***
    color: red;
***REMOVED***

#blazor-error-ui ***REMOVED***
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
***REMOVED***

    #blazor-error-ui .dismiss ***REMOVED***
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
***REMOVED***
