body ***REMOVED***
***REMOVED***

div***REMOVED***
    border:1px;

***REMOVED***

.floating-button ***REMOVED***
    position: fixed;
    bottom: 50%;
    right: 0;
    border-radius: 4px;
    z-index: 10;
***REMOVED***

.hidden-clock ***REMOVED***
    display: normal;
***REMOVED***

@media (min-width: 641x) ***REMOVED***
    .hidden-clock ***REMOVED***
        display: none;
***REMOVED***
***REMOVED***
