
@using BlazorVNPTQuiz.Models;

@inject NavigationManager NavManager

<div class="card bg-light text-dark" >
    <div class="card-header"><b>@ExamItem.ExamName</b></div>
    <div class="card-body">
        Số câu: @ExamItem.NumOfQuestion<br />
        Thời gian làm bài: @(ExamItem.Duration/60) phút<br />
        Số lần thi tối đa: @ExamItem.MaxTry lần<br />
    </div>
    <div class="card-footer">
        <button @onclick="StartBaiThi" class="btn-success">Vào thi</button>
    </div>


</div>
@code {
    [Parameter]
    public ExamInfo ExamItem { get; set; }
    [Parameter]
    public int UserId { get; set; }

    public void StartBaiThi()
    {
        //string absulateUri = NavManager.ToBaseRelativePath();
        Uri absUri = NavManager.ToAbsoluteUri($"exam/{UserId}/{ExamItem.ExamId}/test");//{ExamItem.ExamName}");
        NavManager.NavigateTo(absUri.ToString());

    }

}
