
@using BlazorVNPTQuiz.Models;

@inject NavigationManager NavManager

<div class="card bg-light text-dark" >
    <div class="card-header"><b>@ExamItem.ExamName</b></div>
    <div class="card-body">
        Số câu: @ExamItem.NumOfQuestion<br />
        Thời gian làm bài: @(ExamItem.Duration/60) phút<br />
        Số lần thi tối đa: @ExamItem.MaxTry lần<br />
    </div>
    <div class="card-footer">
        <button @onclick="StartBaiThi" class="btn-success">Vào thi</button>
    </div>


</div>
@code ***REMOVED***
    [Parameter]
    public ExamInfo ExamItem ***REMOVED*** get; set; ***REMOVED***
    [Parameter]
    public int UserId ***REMOVED*** get; set; ***REMOVED***

    public void StartBaiThi()
    ***REMOVED***
        //string absulateUri = NavManager.ToBaseRelativePath();
        Uri absUri = NavManager.ToAbsoluteUri($"exam/***REMOVED***UserId***REMOVED***/***REMOVED***ExamItem.ExamId***REMOVED***/test");//***REMOVED***ExamItem.ExamName***REMOVED***");
        NavManager.NavigateTo(absUri.ToString());

***REMOVED***

***REMOVED***
