
@using BlazorVNPTQuiz.Models;

@inject NavigationManager NavManager

<div>
    <b>@ExamItem.ExamName</b><br />
    Số câu: @ExamItem.NumOfQuestion<br />
    Thời gian làm bài: @(ExamItem.Duration/60) phút<br />
    Số lần thi tối đa: @ExamItem.MaxTry lần<br />
    
    <button @onclick="StartBaiThi" class="btn-success">Vào thi</button>



</div>
@code {
    [Parameter]
    public ExamInfo ExamItem { get; set; }
    [Parameter]
    public int UserId { get; set; }

    public void StartBaiThi()
    {
        NavManager.NavigateTo($"/exam/{UserId}/{ExamItem.ExamId}/{ExamItem.ExamName}");
    }

}
