<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Xin chào, @context.User.Identity.Name!</a>
        @*<form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
        <a href="Identity/Account/Logout">Đăng xuất</a>
    </Authorized>
    <NotAuthorized>
        @*<a href="Identity/Account/Register">Đăng ký</a>*@
        <a href="Identity/Account/Login">Đăng nhập</a>
        @*<a href="login">Đăng nhập</a>*@
    </NotAuthorized>
</AuthorizeView>
