@inject AppState AppState
@implements IDisposable
@using System.Timers;
    <AuthorizeView>

        <Authorized>
            <div class="col-12 col-md-7"  style="align-items:flex-start; padding-left:2px">
                @if (AppState.SelectedExamNotFinishedInfo?.CurrentExam != null && AppState.RemainSeconds > 0 )
                {
                <a href="exam/@AppState.CurrentIdentityUserId/@AppState.SelectedExamNotFinishedInfo?.CurrentExam?.ExamId"><b>@AppState.SelectedExamNotFinishedInfo?.CurrentExam?.ExamName</b></a>
                @*<text> &nbsp; &nbsp; &nbsp;</text>*@
                   
                     @*<span style="color:red"> @GetStringCountDown() </span>*@
                    


                    }
            </div>
            <div class="col-12 col-md-5" style="z-index:2; padding-left:2px">

                <a href="Identity/Account/Manage">Xin chào, @context.User.Identity.Name!</a>

                <a href="Identity/Account/Logout">Đăng xuất</a>
                @if (AppState.RemainSeconds > 0)
                {
                    <span style="color:red; margin-left:24px"> @GetStringCountDown() </span>
                }
            </div>
        </Authorized>
        <NotAuthorized>
            <div >
                @*<a href="Identity/Account/Register">Đăng ký</a>*@
                <a href="Identity/Account/Login">Đăng nhập</a>
                @*<a href="login">Đăng nhập</a>*@
            </div>
        </NotAuthorized>

    </AuthorizeView>

    @code{
        

        private async Task AppState_StateChanged(ComponentBase Source, string Property)
        {
            if (Source != this)
            {
                // Inspect Property to determine if action needs to be taken.
                await InvokeAsync(StateHasChanged);
            }
        }
        protected override void OnInitialized()
        {
           
            AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
            
            
        }
        protected override async Task OnInitializedAsync()
        {
           await  AppState.InitializeState();
        }

        private string GetStringCountDown()
        {

            return $"{AppState.RemainSeconds / 60}:{AppState.RemainSeconds%60}";
        }

        
        
       
        void IDisposable.Dispose()
        {
            AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);

        }
    }