@inject AppState AppState
@implements IDisposable
@using System.Timers;
    <AuthorizeView>

        <Authorized>
            <div class="col-9">
                @if (AppState.SelectedExamInfo != null)
                ***REMOVED***
                <a href="exam/@AppState.CurrentIdentityUserId.Result/@AppState.SelectedExamInfo.ExamId"><b>@AppState.SelectedExamInfo.ExamName</b></a>
                <text> &nbsp; &nbsp; &nbsp;</text>
                    <span style="color:red"> @GetStringCountDown() </span>


            ***REMOVED***
            </div>
            <div class="col-2">
                <a href="Identity/Account/Manage">Xin chào, @context.User.Identity.Name!</a>
                @*<form method="post" action="Identity/Account/LogOut">
                        <button type="submit" class="nav-link btn btn-link">Log out</button>
                    </form>*@
                @*<a href="Identity/Account/Logout">Đăng xuất</a>*@
            </div>
        </Authorized>
        <NotAuthorized>
            <div >
                @*<a href="Identity/Account/Register">Đăng ký</a>*@
                <a href="Identity/Account/Login">Đăng nhập</a>
                @*<a href="login">Đăng nhập</a>*@
            </div>
        </NotAuthorized>

    </AuthorizeView>

    @code***REMOVED***
        

        private async Task AppState_StateChanged(ComponentBase Source, string Property)
        ***REMOVED***
            if (Source != this)
            ***REMOVED***
                // Inspect Property to determine if action needs to be taken.
                await InvokeAsync(StateHasChanged);
        ***REMOVED***
    ***REMOVED***
        protected override void OnInitialized()
        ***REMOVED***
            AppState.StateChanged += async (Source, Property) => await AppState_StateChanged(Source, Property);
    ***REMOVED***

        private string GetStringCountDown()
        ***REMOVED***

            return $"***REMOVED***AppState.RemainSeconds / 60***REMOVED***:***REMOVED***AppState.RemainSeconds%60***REMOVED***";
    ***REMOVED***

        
        
       
        void IDisposable.Dispose()
        ***REMOVED***
            AppState.StateChanged -= async (Source, Property) => await AppState_StateChanged(Source, Property);

    ***REMOVED***
***REMOVED***