.page ***REMOVED***
    position: relative;
    display: flex;
    flex-direction: column;
***REMOVED***

.main ***REMOVED***
    flex: 1;
***REMOVED***

.sidebar ***REMOVED***
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
***REMOVED***

.top-row ***REMOVED***
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
***REMOVED***

    .top-row ::deep a, .top-row .btn-link ***REMOVED***
        white-space: nowrap;
        margin-left: 1.5rem;
***REMOVED***

    .top-row a:first-child ***REMOVED***
        overflow: hidden;
        text-overflow: ellipsis;
***REMOVED***

@media (max-width: 640.98px) ***REMOVED***
    .top-row:not(.auth) ***REMOVED***
        display: normal;
        
***REMOVED***

    .top-row.auth ***REMOVED***
        justify-content: space-between;
***REMOVED***

    .top-row a, .top-row .btn-link ***REMOVED***
        margin-left: 0;
***REMOVED***
***REMOVED***

@media (min-width: 641px) ***REMOVED***
    .page ***REMOVED***
        flex-direction: row;
***REMOVED***

    .sidebar ***REMOVED***
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
***REMOVED***

    .top-row ***REMOVED***
        position: sticky;
        top: 0;
        z-index: 1;
***REMOVED***

    .main > div ***REMOVED***
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
***REMOVED***
***REMOVED***
