.navbar-toggler ***REMOVED***
    background-color: rgba(255, 255, 255, 0.1);
***REMOVED***

.top-row ***REMOVED***
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
***REMOVED***

.navbar-brand ***REMOVED***
    font-size: 1.1rem;
***REMOVED***

.oi ***REMOVED***
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
***REMOVED***

.nav-item ***REMOVED***
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
***REMOVED***

    .nav-item:first-of-type ***REMOVED***
        padding-top: 1rem;
***REMOVED***

    .nav-item:last-of-type ***REMOVED***
        padding-bottom: 1rem;
***REMOVED***

    .nav-item ::deep a ***REMOVED***
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
***REMOVED***

.nav-item ::deep a.active ***REMOVED***
    background-color: rgba(255,255,255,0.25);
    color: white;
***REMOVED***

.nav-item ::deep a:hover ***REMOVED***
    background-color: rgba(255,255,255,0.1);
    color: white;
***REMOVED***

@media (min-width: 641px) ***REMOVED***
    .navbar-toggler ***REMOVED***
        display: none;
***REMOVED***

    .collapse ***REMOVED***
        /* Never collapse the sidebar for wide screens */
        display: block;
***REMOVED***
***REMOVED***
